.content
{
    position:static;
    width:80%;
    height:75%;
    min-height:500px;
    margin:0 auto;
    background-color:rgba(193,193,193,0.08);
    border-radius:15px;
    padding:8px;
    margin-top:45px;
}

.ResumePDF
{
    height:96%;
    width:96%;
    margin-left:2%;
    margin-right:2%;
}