#menu
{
    font-size:14px;
    margin:0;
    padding:0;
}

#menu li
{
    display: inline-block;
    list-style:none;
    transition:.8s;
    margin-top:1px;
    padding-right:10px;
    cursor:default;
}

#itemLinkedIn
{
    padding:0 !important;
}

#menu li a
{
    color:black;
    text-decoration:none;
    -webkit-transition:.8s;
    transition:.8s;
}

#menu li a:hover
{
    -webkit-transition:.8s;
    transition:.8s;
    color:#26528f;
    cursor:pointer;
}

#menu li div
{
    width:70px;
    overflow:hidden;
    background-color:#c1c1c1;
    position:absolute;
    padding:0;
    margin-left:-3px;
    padding-left:3px;
    padding-bottom:5px;
    border-left:2px solid #26528f;
    border-right:2px solid #26528f;
    border-bottom:2px solid #26528f;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}

#menu li div a
{
    width:0px;
    color:black;
    text-decoration:none;
    display:block;
}

#menu li div a:hover
{
    color:#26528f;
    cursor:pointer;
}